.iconDrag {
    font-size: 24px;
    margin-right: 6px;
    cursor: grab !important;
}

.item {
    display: flex;
    align-items: center;
    user-select: none;
    justify-content: space-between;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-bottom: 1px solid #babfc7;
    background-color: transparent;
    cursor: pointer !important;

    div {
        display: flex;
        align-items: center;
    }
}
