.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    padding: 8px;
    margin: 8px;
    border-bottom: 1px solid #dbd6d6;
}

.sectionHeader {
    display: flex;
    align-items: center;

    &:before {
        content: '';
        width: 4px;
        height: 24px;
        margin-right: 8px;
        background-color: #71d2de;
    }
}
