.item {
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    user-select: none;
    padding: 12px;
}

.btn {
    text-transform: none !important;
    margin-left: 8px !important;
}
