.reportLayout {
    width: fit-content;
    margin: 10px auto;
    padding: 10px;
    user-select: none;
    border: 1px solid darkgrey;
    box-shadow: 5px 5px 5px 1px #ccc;
    border-radius: 5px;
}

.page {
    width: 210mm;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.header {
    position: sticky;
    top: 0;
    min-height: 60px;
    background-color: #4082dd;
    box-shadow: 6px 0 10px #48596233;
    overflow: hidden;
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 0 12px;
}

.drawerBtn {
    position: absolute;
    left: 0;
    width: 60px;
    height: 60px;
    box-shadow: 0 3px 6px #00000040;
    background-color: #a8abae;
    border: 0;
    border-radius: 0 50% 50% 0;
    cursor: pointer;
    transition: left 100ms ease-in-out;
    z-index: 1200;

    &:hover {
        background: darken(#a8abae, 20%);
    }
}
