.icon {
    width: 17px !important;
    height: 17px !important;
    font-size: 17px !important;
    min-width: 17px !important;
    padding: 0 !important;
    min-height: 17px !important;
}

.iconSpan {
    margin-left: 4px;
}
