.emptyList {
    display: flex;
    align-items: center;
    font: inherit;
    border: 1px solid #babfc7;
    width: 100%;
    height: 100%;
    justify-content: center;
    margin-top: 2px;
}

.list {
    width: 100%;
    height: 100%;
    padding: 0 !important;
    margin: 2px !important;
    border: 1px solid #babfc7;
    max-height: 100%;
    overflow: auto;
}
