.input-wrapper {
    min-height: 24px;
    letter-spacing: 0.2px;
    display: flex;
}

.section-field-label {
    font-weight: bold;
    width: 30%;
    padding: 4px 0;
    word-break: break-word;
    flex: 0 0 30%;
    color: #3a464d;
    align-self: center;
    margin: 2px;
}

.compositeContainer {
    flex: 1 1 60%;
    max-width: 100%;
    min-height: 1rem;
    display: flex;
}

.buttonBar {
    display: flex;
    justify-content: flex-end;

    :nth-child(odd) {
        margin: 0 2px;
    }
}
