@import '~ag-grid-community/src/styles/ag-grid.scss';
@import '~ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss';

.ag-theme-logger {
    @include ag-theme-alpine(());

    .ag-header-cell {
        background-color: transparent;
        color: black;
        padding-left: 6px;
        padding-right: 6px;
    }

    .ag-cell {
        font-size: 14px;
        padding-left: 6px;
        padding-right: 6px;
    }

    .ag-header-cell-text {
        font-size: 14px;
    }

    .ag-react-container {
        display: flex;
        align-items: center;
        width: 100%;
        height: inherit;
    }
}
