.header {
    background-color: #666666;
    color: white;
    font-size: 18px;
}

.row {
    font-size: 18px !important;
}

.disabled {
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.1);
}
