.gallery {
    width: 100%;
    height: 100%;
    align-content: flex-start;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
}

.slider {
    position: absolute;
    bottom: 20px;
}
