.header {
    user-select: none;
    width: 100%;
    font-size: 20px;
    color: white;
    min-height: 40px;
    max-height: 40px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #74b8dc;
    background: linear-gradient(90deg, #74b8dc 0%, #4487dc 100%);
}

.image-container {
    width: 100%;
    height: calc(100% - 40px - 40px - 40px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hint {
    display: flex;
    align-items: center;
    font-weight: 600;
    line-height: 40px;

    svg {
        color: rgb(255 196 30);
    }
}

.bottom-container {
    display: flex;
    flex-basis: 40px;
    width: 100%;
    min-height: 40px;
    padding: 4px;
}

.bottom-container button {
    margin: 1px;
}
