@import "../Report/Report.module.scss";

.reportStatusBar {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: 10px auto;
    justify-content: space-between;
    align-items: center;
}


.highlight {
    color: #1565c0;
    text-decoration: underline;
}
