.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    padding: 10px;

    input {
        background-color: #f5f6f7;
        padding: 0 18px 0 6px;
        font-size: 16px;
        border-radius: 4px;
        width: 100%;
    }
}

.searchBar {
    width: 30%;
    display: flex;
}

.grid {
    margin-top: 2px;
    width: 100%;
    height: 100%;
    flex: 3;
}

.content {
    margin-top: 2px;
    flex: 7;
    display: flex;

    .logArea {
        border: 1px solid #babfc7;
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 100%;

        textarea {
            padding: 6px;
            overflow: auto;
            font: inherit;
            resize: none;
            color: #0c3b93;
            border: 0;
            outline: 0;
            display: block;
            background-color: transparent;
            height: 100%;
            width: 100%;
        }
    }

    .imgArea {
        padding: 4px;
        margin-left: 2px;
        height: 100%;
        border: 1px solid #babfc7;
        width: 30%;

        img {
            margin: auto;
        }
    }
}

.tabContainer {
    width: 100%;
}

.searchIcon {
    font-size: 18px !important;
    padding: 6px !important;
}
